@import _reset
@import _fonts
@import _colors-fonts.sass
@import _mixins
@import _general

.row
	// background: blue

.container
	max-width: 1200px !important

.btn
	display: block
	font: 1em/1em $font
	text-transform: uppercase
	text-align: center
	color: white
	padding: 12px
	background: red
	border: none
	position: relative
	z-index: 99
	&:hover
		background: $accent


main
	padding: 25px 0

// TOP
.carousel
	display: flex
	width: 86%
	margin-left: 15px
	position: relative
	&:before
		content: ""
		display: block
		width: 65px
		height: 48px
		background: #292c33
		background: linear-gradient(to left, rgba(41, 44, 51, 0) 0%, #292c33 100%)
		background: transparent
		position: absolute
		top: 0
		left: 0
		z-index: 9
	.carousel__more
		display: flex
		flex-wrap: wrap
		flex-direction: column
		justify-content: space-around
		align-items: space-around
		width: 120px
		height: 48px
		background-color: #292c33
		background: linear-gradient(to right, rgba(41, 44, 51, 0) 0%, #292c33 60%)
		position: absolute
		right: 0
		top: 0
		z-index: 9
		.carousel__text
			font: .87rem/1.25 $font
			text-align: right
			color: $pink
			span
				display: block
				margin-top: 5px
				font: 900 1.5rem/1 $font

#carousel.owl-carousel
	width: 100% 
	position: relative
	z-index: 4
	.owl-stage-outer,
	.owl-stage
		overflow-x: hidden
		overflow-y: auto
		position: relative
		z-index: 5
	.owl-stage
		padding-bottom: 50px
	.owl-stage-outer
	.owl-item
		display: block
		width: 100%
		height: 48px
		a
			display: block
			margin: 0 auto
			width: 48px
			height: 48px
			position: relative
			text-decoration: none
			z-index: 5
			img
				display: block
				max-width: 100%
				border-radius: 50%
				position: relative
				z-index: 3

.tooltip 
	position: relative
	display: inline-block	
	display: block
	background-image: linear-gradient(120deg, #f4006b, #8f138e)
	border-radius: 50%
	padding: 2px
	.tooltiptext
		visibility: hidden
		width: 120px
		font: .87rem/1 $font
		text-align: center
		color: $black
		border-radius: 6px
		padding: 5px 0
		margin-left: -60px
		background-color: white
		position: absolute
		bottom: -100%
		bottom: -28px
		left: 50%
		z-index: 1
		opacity: 0
		transition: opacity 0.3s
		&:after
			content: ""
			position: absolute
			top: -4px
			left: 50%
			margin-left: -5px
			width: 8px
			height: 4px
			background: white
			clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
	&:hover .tooltiptext
		visibility: visible
		// display: block
		opacity: 1
	

// MIDDLE
.title
	padding: 0 0 40px 0
	font: 900 2em/1em  $font
	color: white

// MIDDLE BLOCKS
// Insta
.insta__cont
	width: 392px
	width: 100%
	min-width: 392px
	min-width: 300px
	height: auto
	margin: 0 auto
	overflow: hidden
	min-height: 460px
	border-radius: 8px
	background: white
	box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.1)
	.insta__top
		display: flex
		align-items: center
		.insta__ava
			display: block
			padding: 12px 10px
			img
				display: block
				width: 32px
				height: 32px
				border-radius: 50%
		.insta__name
			display: block
			font: .87rem/1.4 $font
			text-decoration: none
			color: $black
			span
				display: block
				font: .75rem/1 $font
		.insta__msg
			display: inline-block
			margin-left: 50px
			margin-left: auto
			margin-right: 12px
			width: 110px
			height: auto
			padding: 8px 16px
			padding: 8px
			border-radius: 4px
			font: bold .75rem/1 $font
			letter-spacing: 1px
			text-decoration: none
			text-transform: uppercase
			text-align: center
			color: white
			background: $blue
			&:hover
				background: #1d85ea
				transition: all .25s

	.insta__imgs
		display: flex
		justify-content: space-between
		height: 306px
		overflow: hidden
		.insta__big-photo
			display: block
			width: 300px
			overflow: hidden
			position: relative
			&:before
				content: ""
				display: block
				width: 100%
				height: 100%
				background: transparent 
				// background: rgba(0,0,0,.5)
				pointer-events: none
				box-shadow: inset 1px 1px 10px rgba(0,0,0,.3)
				z-index: 2
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
			img
				display: block
				height: 100%
				position: relative
		.insta__collage
			width: 92px
			align-items: flex-start
			li
				display: block
				width: 92px
				height: 77px
				a
					display: block
					background: transparent
					// border: 1px solid rgba(0,0,0,.2)
					box-shadow: inset 1px 1px 10px rgba(0,0,0,.93)
					&:hover
						filter: contrast(115%)
						// opacity: .5
				img
					display: block
					width: 100%

	.insta__nav
		width: 100%
		padding: 12px
		padding-bottom: 10px
		.insta__btns
			display: flex
			justify-content: flex-start
			li
				transition: all .25s
				&:nth-child(2),
				&:nth-child(3)
					margin-left: 12px
				&:last-child
					margin-left: auto
				&:hover
					opacity: .6
					cursor: pointer
					transition: all .25s

	.insta__descr
		display: block
		width: 100%
		padding: 12px
		padding-top: 0px
		text-decoration: none
		.insta__text1
			display: block
			font: .84rem/1.4 $font
			text-decoration: none
			color: $black
			margin-bottom: 2px
		.insta__text2
			display: block
			font: .84rem/1.4 $font
			text-decoration: none
			color: $black
			span
				font-weight: 800

// Map
.maps__cont
	width: 100%
	min-height: 460px
	overflow: hidden
	border-radius: 8px
	background: white
	box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.1)
	.maps__subtitle
		font: bold 1rem/1 $font
		padding: 20px
		color: $black
	.maps__code
		display: block
		width: 100%
		height: 100%
		min-height: 404px
		background: $darkBlue

// TOP Active
.topactive__cont
	width: 100%
	height: auto
	overflow: hidden
	min-height: 234px
	border-radius: 8px
	padding: 20px 12px
	background: white
	background-image: linear-gradient(120deg, #f4006b, #8f138e)
	box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.1)
	margin-bottom: 20px
	.topactive__title
		font: bold 1rem/1 $font
		color: white
		padding-bottom: 20px
	.topactive__items
		display: flex
		justify-content: space-around
		li 
			margin-right: 5px
			position: relative
			&:last-child
				margin-right: 0px
			.topactive__social
				width: 100%
				display: flex
				justify-content: center
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
				padding: 5px 0
				border-radius: 5px
				position: absolute
				top: 0
				li
					position: relative
					&.hidden
						visibility: hidden
					a 
						img 
							width: 12px
							transition: all .25s
							&:hover
								opacity: .5
								transition: all .25s
			.topactive__photo
				display: block
				width: 100%
				max-width: 100%
				border-radius: 5px
			.topactive__btn
				display: block
				width: 40px
				padding: 3px
				font: .65rem/1 $font
				text-transform: lowercase
				text-decoration: none
				text-align: center
				color: white
				border-radius: 4px
				background: $green
				margin-top: -18px
				margin-left: 4px
				margin-bottom: 10px
				position: relative
				z-index: 5
				transition: all .25s
				&:hover
					background: #10af04
					transition: all .25s
			.topactive__name
				display: block
				font: bold .75rem/1 $font
				text-decoration: none
				color: white
				transition: all .25s
				&:hover
					opacity: .7
					transition: all .25s

// Video
.video__cont
	display: block
	width: 100%
	height: auto
	overflow: hidden
	border-radius: 8px
	background: black
	box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.1)
	.plyr__video-embed
		display: block
		filter: blur(4px)
		transition: all .25s
		&:hover
			filter: blur(0px)
			transition: all .25s
	video
		display: block
		max-width: 100%


// FILTER
.filter__cont
	width: 100%
	height: auto
	padding: 32px 30px
	margin: 40px 0 92px 0
	margin: 40px 0 
	border-radius: 8px
	background-image: linear-gradient(96deg, #f4006b, #8f138e)
	display: flex
	justify-content: flex-start
	align-items: center
	.filter__title
		font: 900 1.5rem/1.3 $font
		color: white
		span
			font: 1rem/1.5 $font
			display: block
	.filter__form
		display: flex
		width: 50%
		margin-left: 32px
		position: relative
		.filter__selectcont
			position: relative
			&:after
				content: " "
				display: block
				width: 10px
				height: 10px
				border-top: 2px solid $grey
				border-left: 2px solid $grey
				position: absolute
				top: calc(50% - 10px)
				right: 15px
				transform: rotate(-135deg)
				z-index: 5
				pointer-events: none
		select
			padding: 14px 80px 14px 12px
			font: bold 1rem/1.5 $font
			color: $black
			box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.1)
			background: white
			border-radius: 5px
			border: none
			appearance: none
			position: relative
			cursor: pointer

		.filter__text1 
			min-width: 80px
			font: 1rem/1 $font
			color: white
			align-self: center
			margin: 0 16px
		button
			display: block
			height: auto
			margin-left: 16px
			padding: 18px 25px
			background: $darkBlue
			font: 700 1rem/1 $font
			letter-spacing: 2px
			text-transform: uppercase
			color: white
			border: none
			border-radius: 4px
			&:hover
				background: #363686
				cursor: pointer



// BIG 3 SLIDERS
#tabs-nav
	width: 100%
	.tabs__nav
		display: flex
		justify-content: flex-start
		li
			margin-left: 1px
			button
				display: block
				border-top-left-radius: 5px
				border-top-right-radius: 5px
				padding: 17px 40px
				border: none
				font: .87rem/1 $font
				color: $black
				background: #ddd
				cursor: pointer
				&:hover
					background: #5454e6
					color: white
				&.active
					background: $darkBlue
					color: white
	.tabs__control
		display: flex
		width: 60px
		justify-content: flex-start
		margin-left: auto
		margin-top: 10px
		li
			margin-left: 1px
			button
				display: block
				width: 30px
				height: 30px
				border: none
				background: transparent
				position: relative
				cursor: pointer
				&[class~="prev"]:hover:after,
				&[class~="next"]:hover:after
					border-top: 2px solid #8f138e
					border-left: 2px solid #8f138e
					transition: all .25s
				&[class~="prev"]:after
					content: " "
					display: block
					width: 10px
					height: 10px
					border-top: 2px solid #cfd6e6
					border-left: 2px solid #cfd6e6
					position: absolute
					top: calc(50% - 5px)
					right: calc(50% - 8px)
					transform: rotate(-45deg)
					z-index: 5
					pointer-events: none
					transition: all .25s
				&[class~="next"]:after
					content: " "
					display: block
					width: 10px
					height: 10px
					border-top: 2px solid #cfd6e6
					border-left: 2px solid #cfd6e6
					position: absolute
					top: calc(50% - 5px)
					right: calc(50% - 5px)
					transform: rotate(135deg)
					z-index: 5
					pointer-events: none
					transition: all .25s
	
#tabs
	width: 100%
	background: $darkBlue
	.tabs__cont
		width: calc(100% + 30px)
		margin-left: -15px
		position: relative
		z-index: 2
		.owl-carousel
			padding: 27px 0 18px 0
			.tabs__item
				display: block
				padding: 12px
				border-radius: 8px
				background: transparent
				text-decoration: none
				&:hover
					box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.5)
					background: white
					.tabs__name,
					.tabs__descr
						color: $black
				.tabs__img
					display: block
					max-width: 100%
					border-radius: 5px
				.tabs__online
					display: block
					width: 40px
					padding: 3px
					font: .65rem/1 $font
					text-transform: lowercase
					text-decoration: none
					text-align: center
					color: white
					border-radius: 4px
					background: $green
					margin-top: -20px
					margin-left: 5px
					margin-bottom: 10px
					position: relative
					z-index: 5
					transition: all .25s
					&:before
						content: "online"
					&.offline
						filter: grayscale(100%)
						&:before
							content: "offline"
					&:hover
						background: #10af04
						transition: all .25s
				.tabs__name
					font: bold .87rem/1.4 $font
					text-decoration: none
					color: white
					margin: 2px 0 4px 0
				.tabs__descr
					font: .87rem/1.4 $font
					text-decoration: none
					color: white



// FOOTER
footer
	padding: 40px 0
	.footer__lists
		display: block
		width: 100%
		padding: 12px 8px
		border-radius: 8px
		box-shadow: 0 8px 16px 0 rgba(20, 48, 102, 0.1)
		background-color: #363940
		li
			&:first-child
				font: bold 1.125rem/1.5 $font
				color: #7a8599
				margin-bottom: 8px
				padding: 0 12px
			a 
				display: block
				width: 100%
				padding: 10px 12px
				border-radius: 4px
				font: .87rem/1.4 $font
				text-decoration: none
				color: $pink
				&:hover
					background: $pink
					color: white

	.footer__text1
		display: block
		width: 100%
		font: 700 .87rem/1.5 $font
		letter-spacing: 1px
		color: white
		padding-bottom: 16px
		margin-top: 40px
		margin-bottom: 16px
		position: relative
		&:after
			content: ""
			display: block
			width: 100%
			height: 2px
			background: #525866
			position: absolute
			bottom: 0


	.footer__text2
		margin-top: 16px
		font: .75rem/1.5 $font
		color: #7a8599



// md
@media (max-width: 992.98px)
	main
		padding: 10px 0 25px 0
	// TOP
	.logo
		width: 100%
		img
			display: block
			margin: 0 auto
			margin-bottom: 10px
	.carousel
		width: 100%
		margin-left: 0px
	#carousel.owl-carousel
		.owl-stage
			padding-bottom: 48px

	// MIDDLE
	.title
		padding: 0 0 40px 0
		font: 900 1.75em/1.35em  $font
		color: white

	// insta
	.insta__cont
		width: 392px
		max-width: 100%
		margin-bottom: 16px

	// Map
	.maps__cont
		width: 100%
		width: 392px
		margin: 0 auto
		margin-bottom: 16px
		.maps__code
			min-height: 0px

	// TOP Active
	.topactive__cont
		width: 100%
		min-height: 0px
		padding: 20px 12px
		margin-bottom: 20px

	// Video
	.video__cont
		width: 100%
		max-width: 370px
		margin: 0 auto

	// FILTER
	.filter__cont
		width: 100%
		padding: 32px 3%
		margin: 40px 0 92px 0
		flex-direction: column
		.filter__title
			font: 900 1.5rem/1.3 $font
			text-align: center
			margin-bottom: 15px
		.filter__form
			display: flex
			width: auto
			margin-left: 0%
			select
				padding: 14px 80px 14px 12px
			.filter__text1 
				min-width: 78px
				display: block
				width: auto
				font: 1rem/1 $font
				align-self: center
				margin: 0 16px
			button
				margin-left: 16px
				padding: 18px 25px







// sm
@media (max-width: 768.98px)

	// TOP Active
	.topactive__cont
		width: 392px
		margin: 0 auto
		max-width: 100%
		min-height: 0px
		padding: 20px 12px
		margin-bottom: 20px

	// FILTER
	.filter__cont
		margin: 40px 0 92px 0
		.filter__form
			display: flex
			select
				padding: 14px 40px 14px 12px


	footer
		padding: 40px 0
		.footer__lists
			width: 250px
			margin: 0 auto
			max-width: 100%
			margin-bottom: 20px
			&.last
				margin-bottom: 0px
			li
				text-align: center



// xs
@media (max-width: 576.98px)



	// TOP Active
	.topactive__cont
		width: 392px
		margin: 0 auto
		max-width: 100%
		min-height: 0px
		padding: 20px 12px
		margin-bottom: 20px
		.topactive__items
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			li 
				width: 40%
				margin-right: 0px
				margin-bottom: 24px
				&:nth-child(3),
				&:nth-child(4)
					margin-bottom: 0px
				.topactive__social
					width: 100%
					display: flex
					justify-content: center
					li 
						a img
							display: block
							width: 15px
							margin: 0 auto
	// Video
	.video__cont
		width: 392px
		max-width: 100%
		margin: 0 auto


	// FILTER
	.filter__cont
		width: 100%
		padding: 9% 3%
		margin: 20px 0 50px 0
		flex-direction: column
		.filter__title
			font: 900 1.5rem/1.3 $font
			text-align: center
			margin-bottom: 15px
		.filter__form
			width: 100%
			display: flex
			flex-direction: column
			.filter__selectcont
				display: block
			select
				padding: 14px 40px 14px 12px
				width: 100%
			.filter__text1 
				min-width: 0px
				font: 1rem/1 $font
				align-self: center
				margin: 10px 0px
			button
				margin-left: 0px
				padding: 18px 25px
				margin-top: 18px

	
	// BIG 3 SLIDERS
	#tabs-nav
		.tabs__nav
			display: flex
			justify-content: flex-start
			li
				margin-left: 1px
				button
					padding: 17px 15px
					font: .87rem/1 $font
		.tabs__control
			display: flex
			width: 60px
			justify-content: flex-start
			margin-left: auto
			margin-top: 10px
	#tabs
		.tabs__cont
			width: calc(100% + 30px)
			margin-left: -15px
			.owl-carousel
				padding: 27px 0 18px 0
				.tabs__item
					padding: 12px
					.tabs__online
						width: 40px
						padding: 3px
						font: .65rem/1 $font
						margin-left: 5px
						margin-bottom: 10px
					.tabs__name
						font: bold .87rem/1.4 $font
						margin: 2px 0 4px 0
					.tabs__descr
						font: .65rem/1.4 $font


	
	footer
		padding: 20px 0
		.footer__lists
			width: 100%
			li
				text-align: center